@import 'tailwindcss';

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sans: 'Open Sans', sans-serif !important;
  --font-mono: 'Source Code Pro', monospace !important;

  --color-primary: #0058be;
  --color-primary-hover: #346be3;
  --color-primary-light: #eff6ff;

  --color-bg-app: #f8fafc;
  --color-bg-panel: #fff;
  --color-bg-panel-hover: #f1f5f9;
  --color-bg-titlebar: var(--color-bg-app);

  --color-text-main: #334155;
  --color-text-muted: #64748b;
  --color-text-titlebar: #e2e8f0;
  --color-text-inverse: #ffffff;

  --color-border: #e2e8f0;
  --color-border-input: #cbd5e1;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --el-color-primary: var(--color-primary) !important;
}

body {
  background-color: var(--color-bg-app);
  color: var(--color-text-main);
}

.panel {
  @apply rounded-lg border border-(--color-border) bg-(--color-bg-panel);
}

.primary-btn {
  @apply w-full cursor-pointer rounded bg-(--color-primary) px-4 py-2 text-sm font-medium text-white transition-all duration-200 hover:bg-(--color-primary-hover) active:scale-95;
}

.secondary-btn {
  @apply w-full cursor-pointer rounded border border-(--color-border) bg-(--color-bg-panel) px-4 py-2 text-sm font-medium text-(--color-text-muted) transition-all duration-200 hover:bg-slate-100 active:scale-95;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border-input) transparent;
}

/* --- CUSTOM SCROLLBAR  --- */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border-input);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-muted);
}

::-webkit-scrollbar-button {
  display: none;
}
